// Colors ///////////////
// common colors
// color pallet: http://paletton.com/#uid=70k0u0kmksCcPHhi7wnr8pvtzk6

$primary-color: #e47d45;
$secundary-color-light: #447bb5;
$secondary-color: #335d8a;
$secondary-color-dark: #335d8a;
$light_blue: #F1F5FB;
$text-color: #333333;

$background-variant1: #fdf9f7;
    
$light-grey1: #f0f0f0;
$light-grey2: #f3f3f3;
$light-grey3: #ebebeb;

$footer-background: #e3e5ed;


// Margins
$global-padding: 15px;
$global-margin: 15px;

// Font settings
$normal-font-size: 19px;
$small-font-size: 19px; 


// Images hosted at https://cloudinary.com
// Potential header backgrounds
$a: "https://res.cloudinary.com/basbakker/image/upload/v1540496738/clouds-daylight-hd-wallpaper-355654.jpg"; // bergen
$b: "https://res.cloudinary.com/basbakker/image/upload/c_scale,w_1963/v1540495113/bg1.jpg"; // donker  blauw. Lijkt op PDF van Willem
$c: "https://res.cloudinary.com/basbakker/image/upload/v1540496712/adventure-calm-clouds-414171.jpg"; //---
$d: "https://res.cloudinary.com/basbakker/image/upload/v1540496733/clouds-country-countryside-461797.jpg";
$e: "https://res.cloudinary.com/basbakker/image/upload/v1540496732/clouds-cornfield-countryside-158827.jpg";
$f: "https://res.cloudinary.com/basbakker/image/upload/v1540496731/blue-sky-clouds-countryside-1048039.jpg"; // ***
$g: "https://res.cloudinary.com/basbakker/image/upload/v1540496725/atmosphere-background-beautiful-531756.jpg"; // ***
$h: "https://res.cloudinary.com/basbakker/image/upload/v1540496724/backlit-bird-clouds-755385.jpg";
$i: "https://res.cloudinary.com/basbakker/image/upload/v1540495113/bg1.jpg";
$j: "https://res.cloudinary.com/basbakker/image/upload/v1540496719/amazing-atmosphere-beautiful-355810.jpg";
$k: "https://res.cloudinary.com/basbakker/image/upload/v1540496717/adventure-blue-sky-clouds-1482937.jpg"; //  rustig
$l: "https://res.cloudinary.com/basbakker/image/upload/v1540496715/adventure-alps-climb-314703.jpg";

