// *********************************** //
// ************  Menu's  ************* //
// *********************************** //
#main-menu {
  visibility: hidden;
  opacity: 0;
  display: none;
  padding-bottom: $global-padding;
  transition: all 0.3s ease-in-out;

  @include lg {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  > ul li {
    position: relative;
  }

  .submenu_desc {
    display: none;
  }

  > ul li:not(:first-child) {
    margin-left: 50px;
  }

  span,
  a {
    font-size: 1.4rem;
    cursor: pointer;
    &:hover,
    &.active {
      color: $secondary-color;
      //font-weight: 400;
      text-shadow: -0.06ex 0 currentcolor, 0.06ex 0 currentcolor;
    }
  }
}

#second-menu-wrapper {
  border-bottom: 1px solid $primary-color;
  background: lighten($secondary-color, 20%);
  padding: 0;

  #main-menu-second {
    padding: 0;

    ul {
      flex-wrap: wrap;
      justify-content: space-between;
      height: 100%;

      li {
        flex: 1 0 33.33%;
        max-width: 33.33%;
        margin: 0;
        padding: 15px 45px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        * {
          color: white;
          cursor: pointer;
        }

        &:hover,
        &:active {
          //background-color: #6f9bca;
          background-color: #e47d45;
          a,
          span,
          &.icon-next::after {
            transform: scale(1.1);
          }
        }
        &.icon-next::after {
          filter: invert(1);
        }
      }
    }
  }
}

#main-menu-second-description {
  background-color: $secundary-color-light;
  padding-right: 45px;
  padding-left: 45px;
  //border-right: 1px solid #86abd2;

  .submenu_desc {
    padding: 20px 0;
    text-align: right;
    color: $text-color;
    letter-spacing: 0.5px;

    h3 {
      font-size: 30px;
      font-weight: lighter;
      line-height: 1.5;
      display: inline-block;
      color: #a1c6ec;
    }
    p {
      margin-bottom: 0;
      color: #a1c6ec;
      font-size: 20px;
    }
  }
}
